<html lang="en-US" ng-app = "phonebookApp">
	<head>
		<meta charset = "utf-8" />
      <title>Phonebook (Test ver 0.0.1)</title>
      <link href="css/reset.css" rel="stylesheet">
      <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
      <link href="css/styles.css" rel="stylesheet">
   </head>
<body >
<div class="wrapper" >


<div class="container-fluid" ng-controller = "phonebookCtrl as phonebook" >
   <div class="main-header">
      <!-- sub-header -->
      <div class="sub-header">
         <p>
            AngularJS <span>| Training Project</span>
            <span class='about'>Controller:{{phonebook.title}}</span>   
         </p>
      </div>
      <h1>PhoneBook Manager</h1>

   </div>


   
<div class="main-content">

<nav-menu></nav-menu>

<div class="contact-table">
<table class="table table-striped table-hover">
  <thead><tr>
    <th class='tID'><a href="" ng-click="orderByField='id'; reverseSort = !reverseSort">
          ID<span ng-show="orderByField == 'id'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a></th>
    <th class='tImg'></th>
    <th class='tName'><a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">
          Name <span ng-show="orderByField == 'name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a></th>
    <th class='tPhone'><a href="" ng-click="orderByField='phone'; reverseSort = !reverseSort">
          Phone Number <span ng-show="orderByField == 'phone'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a></th>
    <th class='tGroup'><a href="" ng-click="orderByField='group'; reverseSort = !reverseSort">
          Group <span ng-show="orderByField == 'group'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a></th>
    <th class='tEmail'><a href="" ng-click="orderByField='email'; reverseSort = !reverseSort">
          Email <span ng-show="orderByField == 'email'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a></th>
    <th class='tEnable'><a href="" ng-click="orderByField='enable'; reverseSort = !reverseSort">
          Enable <span ng-show="orderByField == 'enable'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a></th>
    <th class='tBtn'>Edit</th>
    <th class='tBtn'>Delete</th>
  </tr></thead>
  <tbody>
    <tr ng-class="$even?'alternate':'even'" ng-repeat="book in phonebook.phonebookList |orderBy:orderByField:reverseSort | filter: phonebookApp.searchQuery | filter: phonebookApp.search.group | filter: phonebookApp.search.enable">
    <td class="cntr">{{book.id}}</td>
    <td><img ng-src="{{book.image.thumb}}" class='thumb'/></td>
    <td>{{book.name}}</td>
    <td>{{book.phone}}</td>
    <td>{{book.group}}</td>
    <td>{{book.email}}</td>
    <td class="cntr">{{book.enable}}</td>
    <td>
      <button type="button" class="btn btn-info" ng-click="phonebook.openModalWin($index, book)">Edit</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger" ng-click="phonebook.delModalWin($index, book)">Delete</button>
    </td>
    </tr></tbody>
</table>
</div> <!-- contact-table -->

</div> <!-- main-content -->


   <div class="main-footer">
      <p>
         Powered by <span> Igor Pidvirny</span>
         <span class='about'>© 2016 All rights reserved</span>   
      </p>
   </div>

</div> <!-- container-fluid -->

</div> <!-- wrapper -->


  </body>
  
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>

   <script src="lib/bootstrap.js"></script>
   <script src="lib/angular.js"></script>
   <script src="lib/ui-bootstrap-tpls.min.js"></script>
   <script src="src/App.js" type="text/javascript" charset="utf-8" ></script>
   <!-- Directive -->
   <script src="/src/nav-menu/nav-menu.module.js"></script>
   <script src="/src/nav-menu/nav-menu.directive.js"></script>
   <!-- Controllers -->
   <script src="/src/phonebook/phonebookCtrl.controller.js" type="text/javascript" charset="utf-8" ></script>
   <script src="/src/phonebook/modalwinCtrl.controller.js" type="text/javascript" charset="utf-8" ></script>
   <!-- Module/Service/Factory -->
   <script src="/src/phonebook/phonebook.module.js"></script>
   <script src="/src/phonebook/phonebook.service.js"></script>
   <script src="/src/phonebook/phonebook-edit.module.js"></script>
   <script src="/src/phonebook/phonebook-edit.service.js"></script>

   </body>
</html>