<div class="modal-header">
    <h3 class="modal-title" >Edit PhoneBook "{{editBookForm.book.name}} "</h3>
</div>
<div class="modal-body">
    <form>
        <div class="formEditBook">
            <label for="bookId">ID</label>
            <input id="bookId" class="form-control" type="text" ng-model="editBookForm.book.id" readonly>
        </div>
        <div class="formEditBook">
            <label for="bookName">Name</label>
            <input id="bookName" class="form-control" type="text"  ng-model="editBookForm.book.name">
        </div>
        <div class="formEditBook">
            <label for="bookEmail">Email</label>
            <input id="bookEmail" class="form-control" type="email"  ng-model="editBookForm.book.email">
        </div>
        <div class="formEditBook">
            <label for="bookPhone">Phone</label>
            <input id="bookPhone" class="form-control" type="text"  ng-model="editBookForm.book.phone">
        </div>
        <div class="formEditGroup">
            <label for="bookGroup">Name</label>
            <input id="bookGroup" class="form-control" type="text"  ng-model="editBookForm.book.group">
        </div>
        <div class="formEditEnable">
            <label for="bookEnable">Enable</label>
            <input id="bookEnable" class="form-control" type="checkbox"  ng-model="editBookForm.book.enable" ng-checked="editBookForm.book.enable? true : false "
            >
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="editBookForm.ok()">Ok</button>
    <button class="btn btn-default" ng-click="editBookForm.cancel()">Cancel</button>
</div>